[mysqld]
# Basic Settings
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock

# Performance Tuning
key_buffer_size=16M      # This is for MyISAM tables 
innodb_buffer_pool_size=512M  # This is for InnoDB tables 

# Query Cache (if needed)
query_cache_type=1
query_cache_limit=2M
query_cache_size=32M

# Connections and Thread Settings
max_connections=50     # Adjust based on number of concurrent connections
thread_cache_size=4    # Adjust based on number of threads

# Table Cache Settings 
table_open_cache=64
table_definition_cache=64

# Temporary Table Settings
tmp_table_size=32M
max_heap_table_size=32M

# Logging
log-error=/var/log/mysql/error.log
general_log_file=/var/log/mysql/mysql.log
general_log=0  # Set to 1 to enable general query logging

# InnoDB Settings
innodb_log_file_size=128M   

# Other Settings
character-set-server=utf8mb4

# Security 
secure-file-priv=/var/lib/mysql-files
validate-password-policy=LOW
validate-password=OFF
