#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  --fg-gradient: linear-gradient(131deg, #c0d7f7 0%, #c0d7ff 87%, #c7e0ff 100%);
}

.App {
  margin-top: 3.6em;
  padding: 1em min(1em, calc((100vw - 400px) / 2));
  text-align: center;
  background: rgb(2,0,36);
  background: linear-gradient(131deg, rgb(2,0,36) 0%, rgb(5,5,13) 13%, rgb(0,212,255) 100%);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.Navbar {
  display: flex;
  background: rgb(2,0,36);
  background: linear-gradient(131deg, rgb(5,3,39) 0%, rgb(10,10,18) 13%, rgb(0,132,175) 100%);
  border-bottom: solid rgb(5,60,86) 2px;
  /* border-image: linear-gradient(0deg, rgb(0,132,175), #0000); */
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.2em;
  position: fixed;
  padding: 0 5vw;
  height: 3em;
  left: 0;
  top: 0;
  right: 0;
  align-items: center;
}
.home-nav, .signin-info {
  position: relative;
  display: inline-block;
  width: 10em;
}
.home-nav a, .signin-info a {
  height: 23px;
  padding: 7px 10px;
  background-color: #fff;
  color: #00a; 
  border-radius: 5px; 
  margin: 0 .2em;
}
.home-nav a:hover, .signin-info a:hover {
  background-color: #eef;
}

.signin-info {
  text-align: right;
}
.searchbar {
  flex-grow: .5;
  display: flex;
}
.searchbar .query {
  flex-grow: 1;
  padding: .4em;
  border-color: #54c0cf;
  box-sizing: border-box;
  font-size: 1em;
  border-radius: 5px 0 0 5px;
}
.searchbar .search-button {
  margin: 0;
  padding: .3em .4em .5em;
  width: 2em;
  /* margin-left: .2em; */
  border-left: 0;
  border-radius: 0 5px 5px 0;
  background-color: white;
  border-color: #54c0cf;
}
.searchbar input:disabled, .searchbar button:disabled {
  background-color: #94e0e4;
  color: #505f50;
}
.Navbar:not(.logged-in) .searchbar {
  display: none;
}
@media (max-width: 45rem) {
  .logged-in + .App {
    margin-top: 9.6em;
  }
  .Navbar.logged-in {
    flex-direction: column;
    height: 8em;
    justify-content: space-evenly;
  }
  .logged-in .searchbar {
    flex-grow: 0;
    width: 100%;
  }
  .logged-in .home-nav, .logged-in .signin-info {
    text-align: center;
    width: auto;
  }
}
@media (max-height: 30rem) {
  .App {
    margin-top: 0;
  }
  .Navbar {
    position: static;
  }
}

button, input[type="submit"], input[type="button"] {
  padding: 8px;
  margin: 0 5px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  background-color: #a7c7f7;
}
input, button {
  border: 1px solid #9ab0e0;
}
button:hover, input[type="submit"]:hover, input[type="button"]:hover, .search-button:not(:disabled):hover,
button:focus, input[type="submit"]:focus, input[type="button"]:focus, .search-button:not(:disabled):focus {
  background-color: #a0c0f0;
  border-color: #90a7e7;
}
input[type="submit"] {
  transition: background-color .2s, color .2s, border-color .2s;
}
button.primary, input[type="submit"].primary {
  background-color: #14708f;
  color: white;
  border-color: #04607f;
}
button.primary:hover, input[type="submit"].primary:hover,
button.primary:focus, input[type="submit"].primary:focus {
  background-color: #168;
  border-color: #057;
}
button.destructive {
  color: #a00;
  background-color: #e7d0d0;
  border-color: #efbaba;
}
button.destructive:hover, button.destructive:focus {
  background-color: #d7c0c0;
  border-color: #caa;
}
button:disabled {
  cursor: default;
  color: #888;
  background-color: #b0c7e7;
}
button.destructive:disabled {
  color: #f77;
  background-color: #e0d0d0;
}
button.secondary {
  background-color: #a0b7e0;
  margin-top: 20px;
}
button.secondary:hover, button.secondary:focus {
  background-color: #97b0d7;
}
.form-container, .form {
  margin: auto;
  text-align: center;
}
.logo {
  margin-bottom: 2em;
}
.form {
  width: min(400px, calc(100vw - 2em));
  background-color: white;
  background: var(--fg-gradient);
  padding: 1em;
  border-radius: 10px;
}
.form label {
  text-align: left;
  display: block;
}
.form input, .form button {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border-radius: 5px;
  height: 35px;
  box-sizing: border-box;
  display: block;
  font-size: 1em;
}
.form h2 {
  color: #444;
}
.form input.invalid {
  border-color: red;
  background: #fff7f7;
}
.App .form .likely-invalid > * {
  border-color: orange;
  background: #fffaf7;
}
.form > input:last-child, .form > button:last-child {
  margin-bottom: 0;
}
.form label + input, .form label input {
  margin-top: 5px;
}
.form .react-tel-input {
  display: flex;
  margin: 5px 0 10px;
}
.form .react-tel-input .form-control {
  flex-grow: 1;
  outline: revert;
}
.form .react-tel-input .selected-flag {
  outline: revert;
}

.error {
  border: solid #fcc 1px;
  color: #700;
  background-color: #fdd;
  padding: 1em;
}
.pending {
  border: solid #eee 1px;
  padding: 1em;
  font-style: italic;
  background-color: #fff;
}
.ephemeral {
  border: solid #ddd 1px;
  background-color: #f7f7f7;
  padding: 1em;
  font-style: italic;
}
.App > .error:only-child, .App > .pending:only-child {
  width: 400px;
  margin: auto;
}

.contacts {
  margin: auto;
}
.contact-list {
  background: rgb(5,3,39);
  background: linear-gradient(131deg, rgb(22,20,46) 0%, rgb(25,25,33) 13%, rgb(0,132,175) 100%);
  border-radius: 20px;
  padding: 1em;
  color: #eef;
  min-width: min(calc(100vw - 4em), 50em)
}
.contact-list-buttons-fix {
  height: 1em;
}
@media (min-width: 45rem) {
  .contact-list-buttons:not(:empty) {
    float: left;
    width: 11em;
    text-align: left;
    margin-left: 0;
  }
  .contact-list-buttons button:first-child {
    margin-left: 0;
  }
  .contact-list-buttons:not(:empty) + .contact-list-buttons-fix {
    float: right;
    width: 11em;
    margin-right: 0;
    height: 3em;
  }
}
.contact-list-title, h2:first-child {
  margin-top: 0;
}
.contact-list-title {
  /* eef. */
  color: #eef;
}
.contact-list-body {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
}
.contact-preview {
  background-color: white;
  background: var(--fg-gradient);
  width: min(25em, calc(100vw - 4em));
  padding: 1em;
  border-radius: 1em;
  color: black;
}
.contact-preview.deleting {
  color: #777;
  background: #dde;
}
.contact-preview p {
  font-size: 1.1em;
  word-wrap: break-word;
}