#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App {
  margin-top: 3.6em;
  padding: 1em;
  text-align: center;
  background-color: #f7f7f7;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.Navbar {
  display: flex;
  background: #84e0ff;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.2em;
  position: fixed;
  padding: 0 5vw;
  height: 3em;
  left: 0;
  top: 0;
  right: 0;
  align-items: center;
}
.home-nav, .signin-info {
  width: 15em;
}
.signin-info {
  text-align: right;
}
.searchbar {
  flex-grow: .3;
}
.searchbar input {
  width: 100%;
  padding: .4em;
  border: none;
  box-sizing: border-box;
  font-size: 1em;
}

.form {
  width: 400px;
  margin: auto;
  text-align: center;
  background-color: white;
  padding: 1em;
}
.form label {
  text-align: left;
  display: block;
}
.form input {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 2cap solid #ddd;
  box-sizing: border-box;
  display: block;
  font-size: 1em;
}
button {
  border: 0;
  padding: 8px;
  margin: 0 5px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  background-color: #e7e7e7;
}
button.destructive {
  color: red;
  background-color: #ffe7e7;
}
button:disabled {
  cursor: default;
  color: #888;
  background-color: #eaeaea;
}
button.destructive:disabled {
  color: #f77;
  background-color: #ffeaea;
}

.contact-list-buttons-fix {
  height: 1em;
}
@media (min-width: 45rem) {
  .contact-list-buttons:not(:empty) {
    float: left;
    width: 11em;
    text-align: left;
    margin-left: 5vw;
  }
  .contact-list-buttons:not(:empty) + .contact-list-buttons-fix {
    float: right;
    width: 11em;
    margin-right: 5vw;
    height: 3em;
  }
}
.contact-list-title, .contact-preview h2 {
  margin-top: 0;
}
.contact-list-body {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
}
.contact-preview {
  background-color: white;
  width: 25em;
  padding: 1em;
}
.contact-preview p {
  font-size: 1.1em;
  word-wrap: break-word;
}